.chatDiv {
    background: black;
    height: 100%;
    z-index: 3;
}

.chat{
    right: 0;
    float: right;
    z-index: 1;
    margin: 0 5vw;
}


.chatButton {
    display: inline;
    position: relative;
    float: right;
    margin: 10px 5vw;
}
